/* General styling */
body, html  {
    overflow-x:hidden;
}

.page-section {
    padding: 72px 0px;
}
/* Header background */

#particles-js {
    position: absolute;
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.prof-text {
    position: relative;
    z-index: 2;
}

/* Education site */

#education {
    background: slategray !important;
}


/* Portfolio Ribbon */
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #41228e;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #41228e;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #41228e;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #41228e;
}

/* Pricing flip cards */
.card {
      text-align: center;
      color: #FFFFFF;
      width: 300px;
      height: 300px;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }
    .flipper {
      padding-left: 0px;
      padding-right: 0px;
      /* margin-bottom: 10px; */
      perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flipper.flip .card {
      transform: rotateY(180deg);
    }
    .front,
    .back {
      width: 100%;
      /* padding: 5px; */
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      height: 100%;
    }
    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
      height: 100%;
    }

.card-body {
    font-size: .9rem;
}

/* hiding marketing and coding content */
.cod {
    display: list-item;
}

.mking {
    display:none;
}

.masthead {
    padding-top: 120px;
    padding-bottom: 20px;
}

#bias {
    z-index: 1;
}

/* Tesimonials Section */

#testim {
    /* background: whitesmoke;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  */
}

.rounded-circle {
    height: 150px;
}

.checked {
    color: orange;
    padding: 0px 5px;
}

.carousel-control-next, .carousel-control-prev {
    bottom: 25% !important;
}

/* Source text testimonials */
.test-name {
    text-transform: uppercase;
}

.testimonial {
    color: gray;
}

/* pricing item */
.pricing-item {
    height: 480px;
    border-top: 5px solid red;
}

/* Pricing card */

/* .price-card {
    height: 250px;
} */

/* .flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
} */

/* This container is needed to position the front and back side */
/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
} */

/* Position the front and back side */
/* .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  /* backface-visibility: hidden; */
/* } */


/* Media queries */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .pricing-item {
    height: 520px;
}
}

/* Media queries */
@media screen and (max-width: 767px) {
  .price-card {
    height: 400px;
}
}

/* Media queries */
@media screen and (max-width: 1023px) and (min-width: 768px){
  .price-card {
    height: 350px;
}
}