/* hiding marketing and coding content */
.cod {
    display: list-item;
}

.mking {
    display:none;
}

.masthead {
    padding-top: 120px;
    padding-bottom: 20px;
}

#bias {
    z-index: 1;
}

/* Tesimonials Section */

#testim {
    /* background: whitesmoke;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  */
}

.checked {
    color: orange;
    padding: 0px 5px;
}

.carousel-control-next, .carousel-control-prev {
    bottom: 25% !important;
}

/* Source text testimonials */
.test-name {
    text-transform: uppercase;
}

.testimonial {
    color: gray;
}

/* pricing item */
.pricing-item {
    height: 450px;
    border-top: 5px solid red;
}

/* General styling */
body, html  {
    overflow-x:hidden;
}

.page-section {
    padding: 72px 0px;
}

/* dark button */
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
  .toggle.ios .toggle-handle { border-radius: 20rem; }


/* Header background */

#particles-js {
    position: absolute;
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.prof-text {
    position: relative;
    z-index: 2;
}

/* Education site */

#education {
    background: slategray !important;
}


/* Portfolio Ribbon */
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #41228e;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #41228e;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #41228e;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #41228e;
}